<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>This site was created by {{name}} and uses mapbox.com and weatherstack.com </p>
        <img src="/img/3Kids.JPG"> 
        {{>footer}}
    </body>
</html>